.banner {
  height: 200px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: image-url("castle_tunnel.jpg");
  transition: background-image 0.5s ease-in-out;
}
.banner-show {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: image-url("castle_tunnel.jpg");
}
.banner-show-character {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: image-url("character_image.jpg");
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.banner::before {
  height: 500px;
  background-size: cover;
  background-position: -20px;
  background-image: inherit; /* sync with banner */
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
  opacity: 1;
}
input[type="radio"][name="switch-tab"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
