.content-wrap {

  .gradient-overlay {
  /* Position the div to completely cover its relative parent (.banner) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Apply your desired gradient style */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));

  /* Ensure the gradient is beneath your title content (banner-content) */
  z-index: 1;
}
  .banner-content {
  /* Set width to match parent to allow center justification to work */
  width: 100%;

  /* Puts the content block 60% of the way down the banner. */
  /* This value controls the vertical position. Change 60% to move it up or down. */
  top: 60%;

  /* Pushes the content block up by half its own height to ensure it's truly centered
     around the 'top: 60%' line, rather than starting at that line. */
  transform: translateY(-50%);

  /* Ensures the content appears above the image */
  z-index: 2;

}
}

.tuskpir-image {
  /* Set a maximum width and height in fixed units */
  max-width: 250px;
  max-height: 250px;
  /* Ensure it doesn't get distorted */
  width: auto !important;
  height: auto !important;
}
