.main-story {
    display: flex;              /* enable flex layout */
    flex-wrap: wrap;            /* wrap on small screens */
    gap: 2rem;                  /* space between image and text */
    align-items: center;        /* vertically center items */
}

.turbo-progress-bar {
  background-color: black;
}

.card-product {
  overflow: hidden;
  height: 100%;
  background: #27233b;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card {
  --bs-card-bg: #000000;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tab-label {
  /* Replace #f0f0f0 with your desired color (e.g., #3498db for blue) */
  background-color: #38115a;

  /* Ensure the text is visible against the new background */
  color: white;

  /* Optional: Add padding/flex properties to control size and spacing */
  flex-grow: 1; /* Makes them evenly divide the space */
  text-align: center;
  padding: 10px 0;
  cursor: pointer;


}

.tab-label:hover {
    background: #463258;
  }

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card-product img {
  height: 100%;
  width: 500px;
  object-fit: cover;
  border-radius: 20%;
  padding: 1rem;
}

.card-product h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 4;
  color: white;
}

.card-product p {
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
