<footer class="footer-style mt-auto bg-dark text-white py-3">
  <div class="container text-center fs-1 fs-md-3 fs-lg-2 fs-xl-1">
  </div>
  <div class="text-center">
    &copy; <%= Time.current.year %> Kokai Soundworks
  </div>
</footer>
